<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/project.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta property="og:site_name" content="{{ .Title }}" />
    <meta property="og:image" content="{{ .Site.BaseURL }}/images/pic01.jpg" />
    <meta property="og:title"       content="{{ .Site.Params.short }}" />
    <meta property="og:description" content="{{ .Site.Params.long }}" />
    <meta property="og:type" content="website" />
    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
  </head>
  <body>
